@import '../assets/styles/shared.scss';
@import '../assets/styles/global.scss';

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 0;
}

* {
  margin: 0px;
  padding: 0px;
}

.app {
  text-align: center;
  width: $app-width;
}

.app-intro {
  font-size: large;
}
